cache/
out/
remappings.txt
node_modules
.env
mtb/
.deploy-config.json
yarn.lock
.DS_Store

# Forge script broadcast output directory
broadcast/

# State generated via anvil
# TODO: Use a temporary directory?
state.json
