on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

name: Unit Tests

jobs:
  tests:
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1

      - name: Install Dependencies
        run: make install

      - name: Build Contracts
        run: make build

      - name: Run Tests
        run: |
          make test
          make snapshot

      - name: Check formatting
        run: make format-check
